.my-form-bg{
    background-image: linear-gradient(var(--color-4),var(--color-5),var(--color-4));
    border: solid var(--color-5);
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.7);
}

.myClass-mail-link:link{
    color: var(--color-3);
    
}
.myClass-mail-link:hover{
    color: var(--color-5);
    
}


.myModalBg{
    background-image: url(../img/unused/4.png);
    background-position: center;
    background-size: cover;
    background-color: rgba(161, 180, 75, 0.397);
    object-fit: contain;
    min-height: 300px;
}