* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #0d0d0d;
    --color-2: #f2f2f2;

    --color-3: #f2cc0f;
    /* rgb(242, 204, 15) */

    --color-4: #8cbf3f;
    /* rgb(140, 191, 63) */

    --color-5: #9453a6;
    /* rgb(148, 83, 166) */

    --color-6: #FDF8E5;

}

body {
    background-color: var(--color-6);
    overflow-x: hidden;

    /* font-family: 'Roboto',
        sans-serif; */
}

@font-face {
    font-family: 'externalFont1';
    src: url(./fonts/HennyPenny-Regular.ttf);
}

@font-face {
    font-family: 'externalFont2';
    src: url(./fonts/Pattaya-Regular.ttf);
}


.myBtn {
    display: block;
    margin: auto;
    background-color: var(--color-5);
    border: var(--color-1) solid 1px;
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.7);
    padding: 0 10px;

}

.myBtn:hover {
    color: var(--color-4);
    font-weight: bold;

}



header {

    border: solid 1px;
    font-family: 'externalFont1';
    /* height: 50px; */
    /* background-image: url(../img/hdrbckgrn.png); */
    background-image: linear-gradient(to left, rgba(140, 191, 63, .6), rgba(140, 191, 63, .6), rgba(242, 204, 15, .6), rgba(148, 83, 166, .6), rgba(148, 83, 166, .6));
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: repeat-x; */
    background-size: cover;
    /* border: solid; */

}

.logo {
    display: block;
    margin: auto;
    height: 15vh;

}



.divLogo {
    /* margin: auto; */
    /* width: 25%; */
}

.textHeader {
    text-shadow: 1px 0 0 var(--color-1),
        -2px 0 0 var(--color-1),
        0 2px 0 var(--color-1),
        0 -2px 0 var(--color-1),
        1px 1px var(--color-1),
        -1px -1px 0 var(--color-1),
        1px -1px 0 var(--color-1),
        -1px 1px 0 var(--color-1);
    text-align: center;
    color: var(--color-3);
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 8vh;
    /* display: none; */


}

.textHeader h3 {
    margin-top: 0;
    color: var(--color-3);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 2vh;

}


a:hover {

    font-weight: bold;
    transition: 300ms;

}

/* .PageHeader {

    margin: auto;
    padding: 4px;
    margin-top: 10px;
    font-family: 'externalFont2';
    text-align: center;
    width: 90%;
    color: var(--color-5);

} */

/* .myHeader {
    margin: 55px auto 8px auto;
    color: var(--color-4);
    text-shadow: 1px 0 0 var(--color-1), -2px 0 0 var(--color-1), 0 2px 0 var(--color-1), 0 -2px 0 var(--color-1), 1px 1px var(--color-1), -1px -1px 0 var(--color-1), 1px -1px 0 var(--color-1), -1px 1px 0 var(--color-1);
    text-align: center;
} */


/*//////////// MOBILE MENU////////// */
.navList-m {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    flex-direction: column;
    align-items: center;
    list-style: none;

    /* top: 155px; */
    height: 92vh;
    width: 100%;
    /* opacity: 0.97; */

    background-image: linear-gradient(to left, rgba(140, 191, 63, .9), var(--color-5));

    border: solid 1px var(--color-3);
    transform: translateX(-102%);
    transition: 0.75s ease-in;
    z-index: 99;
}


.navActive {
    transform: translateX(0%);



}

/* .nav-m {

    font-family: "externalFont1";
    background-image: linear-gradient(to right, var(--color-5), var(--color-4), var(--color-5));
    border: solid 1px;

} */

.navPageLink {

    text-decoration: none;
    font-size: 1.2em;
    color: var(--color-2);
    letter-spacing: 2px;
    transition: all 0.25s;

}

.navPageLink:hover {
    font-weight: bold;
    color: var(--color-3);
}

.menuImg {
    position: relative;
    display: block;
    height: 15%
}

.burger {
    position: relative;
    top: -28px;
    border: var(--color-1) solid 1px;
    background-color: var(--color-2);
    padding: 2px;
    /* margin-top: 70px; */
    margin-right: 4px;
    float: right;
    opacity: 0.8;
    cursor: pointer;

}

.line {
    background-color: var(--color-5);
    width: 20px;
    height: 0.15em;
    margin: 2px;
}



.burger:hover {
    background-color: var(--color-3);
    /* color: var(--color-1); */
    /* border-color: var(--color-1) 2px; */
    transition: 0.3s;
    transition-delay: 70ms;
}




.clearFloat {
    clear: both;
}

/*/////// END of mobile menu///////*/

.mainContainer {

    margin: auto;
    width: 100%;

}


.carusel {
    display: none;
}

.mobileImg {
    position: relative;
    height: 70vh;
    margin: 5px;


}





/* ////////.experiance New-orleans////// */

.attImg {
    padding: 10px 20px 0px 20px;
}

.experiance>div {

    background-position: center;
    background-size: cover;
    display: block;
    height: 100px;
    width: 30%;
    margin: 10px;
    font-family: "externalFont2";
    letter-spacing: 1px;
    font-size: 2px;


}

.experiance {
    display: flex;
    /* justify-content: space-evenly; */
    margin: auto;
}

.experiance-Header {
    font-size: 1.2em;

}

a {
    text-decoration: none;
}

.hotelBox {

    background-image: url(../img/transpMask.png);
}

.restBox {
    background-image: url(../img/trnsp1.png);
    background-position: center;
    background-repeat: no-repeat;

}

.attBox {

    background-image: url(../img/masks/istockphoto-165966914-170667a.jpg);
}


.bonusCont {
    background-image: url(../img/unused/Carnival_Mask_Transparent_Image.png);
    margin: 35px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "externalFont2";
    min-height: 90px
}

.triviaDiv {
    min-height: 100px;
    max-height: 150px;

}



.textSection:hover {
    cursor: pointer;
    font-weight: bold;
    color: var(--color-3);
    padding-top: 5px;
    padding-bottom: 5px;



}


.textSection {
    margin-top: 40px;
    color: #f2f2f2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}


footer {
    background-image: linear-gradient(to left, var(--color-4), var(--color-6), var(--color-6), var(--color-4), var(--color-6), var(--color-6));
    border: solid 1px;
    margin-top: 10px;
}


footer>div {

    flex-grow: 1;
    flex-basis: 33%;

}


.social {

    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;


}


.fa-brands,
.fa {
    color: var(--color-1);

    font-size: 225% !important;


}




.fa-brands:hover,
.fa:hover {
    font-weight: bold;

    transition: 300ms;
}


.copyrightText {
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
}

/* //////////end of  footer//////////// */







/* Small mobile */
@media only screen and (max-width: 410px) {

    .experiance-Header {
        font-size: 1.3em;
    }



}


/* Tablet/desktop */
@media only screen and (min-width: 768px) {

    header div .burger {
        display: none;
        opacity: 0;
        z-index: 0;
    }

    .HeaderCellDiv {
        display: none;
    }

    header {
        height: 80px;
        display: flex;
    }

    .divLogo {
        position: relative;
        left: 25px;
        margin-top: 3px;
        max-height: 100px;
        z-index: 99;
    }

    .logo {
        display: block;
        height: 12vh;
        transform: scale(1.7) translate(25%, 25%);
        transition: transform 0.4s ease;
        z-index: 99;
    }




    .navPageLink:hover {
        font-weight: bold;
        color: var(--color-2);
    }



    .navList-t {
        display: flex;
        background-image: none;
        justify-content: space-evenly;
        flex-direction: row;
        list-style: none;
        height: 80px;
        transform: none;
        transition: none;
        border: none;
        /* margin: auto; */
        width: 85vw;
        text-shadow: 1px 0 0 var(--color-1),
            -2px 0 0 var(--color-1),
            0 2px 0 var(--color-1),
            0 -2px 0 var(--color-1),
            1px 1px var(--color-1),
            -1px -1px 0 var(--color-1),
            1px -1px 0 var(--color-1),
            -1px 1px 0 var(--color-1);
        text-align: center;
        font-size: 0.9rem;

    }

    /* navBarList {
        margin: 10px;
    } */

    .nav-t {
        /* display: flex;
        justify-content: space-evenly;
        align-items: center; */
        /* height: 40px; */
        /* transform: none; */
        width: 85vw;

    }

    .menuImg {
        display: none;
    }


    .mainContainer {
        margin: auto;

    }



    .carusel {
        display: revert;
    }

    .crsl-imgText {

        padding: 0px;
        width: 50%;
    }

    .experiance {
        width: 80%;


    }




    .mobileImg {
        display: none;
    }




    .social {
        margin-top: 20px;
        width: 50%;

    }




}

@media only screen and (min-width: 992px) {

    .experiance {
        width: 70%;


    }
}