.faqContainer {
    background-image: url(../../img/unused/trnsp2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0 auto;


    .faq-text {
        background-color: rgba(253, 248, 229, 0.75);
        margin: 105px auto;
        word-spacing: 2px;
        line-height: 1.5;
        color: $black;
        font-size: 1.2rem;
        padding: 20px;
        border: 2px solid $purple;
        width: 80%;
        border-radius: 25px;

    }

    .faqHeader {
        color: $yellow;
        padding: 0;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 15px;
        font-family: "externalFont2";

    }

    .accordion {
        margin: 40px;
        opacity: 0.9;
        background-color: #666;
        margin-top: 100px;
        margin-bottom: 150px;
        font-size: 1.2rem;


        .accordion-item {
            border: 1px solid $purple;
            background-color: rgba(255, 255, 255, 0.9);
            margin: auto;
            font-size: 1.2rem;

            .myAcc-collapsed {
                font-size: 1.3rem;
            }

            .accordion-button:not(.collapsed) {
                color: $green
            }
        }

    }
}


@media only screen and (min-width: 768px) {
    .faqContainer {
        margin-top: 60.2px;
        width: 100vw;
    }
}

@media only screen and (min-width: 1200px) {
    .faqContainer {

        width: 80vw;
    }
}