.textHeader h3 {
    margin-top: 0;
    color: $yellow;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 2em;

}


.PageHeader {

    margin: auto;
    padding: 4px;
    margin-top: 10px;
    font-family: 'externalFont2';
    text-align: center;
    width: 90%;
    color: var(--color-5);

}

.myHeader {
    margin: 55px auto 8px auto;
    color: $green;
    text-shadow: 1px 0 0 $black,
        -2px 0 0 $black,
        0 2px 0 $black,
        0 -2px 0 $black,
        1px 1px $black,
        -1px -1px 0 $black,
        1px -1px 0 $black,
        -1px 1px 0 $black;
    text-align: center;
}

.textHeader {
    text-shadow: 1px 0 0 $black,
        -2px 0 0 $black,
        0 2px 0 $black,
        0 -2px 0 $black,
        1px 1px $black,
        -1px -1px 0 $black,
        1px -1px 0 $black,
        -1px 1px 0 $black;
    text-align: center;
    color: $yellow;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 8vh;

}