.galleryHeader {
    position: relative;
    font-family: 'externalFont2';
    margin: 20px;
}

.gallery {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
    background-image: linear-gradient($yellow, $green, $purple);
    padding: 60px 30px;
    border: solid 1px;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 80%);
}


.gallery-item img,
iframe {
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
    border: solid 3px var(--color-5);
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;

}



#modalIMage {

    width: 100%;
}


.mediaContainer {
    width: 80vw;
}

@media only screen and (min-width: 768px) {
    .galleryHeader {
        font-family: 'externalFont2';
        margin-bottom: 25px;
        margin-top: 80px;
    }

    .mediaContainer {
        margin: 60px;

    }
}