* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'externalFont1';
    src: url(../fonts/HennyPenny-Regular.ttf);
}

@font-face {
    font-family: 'externalFont2';
    src: url(../fonts/Pattaya-Regular.ttf);
}

$black:#0d0d0d;
$white: #f2f2f2;
$backColor: rgb(253, 248, 229);

$yellow: #f2cc0f; // rgb(242, 204, 15)
$green: #8cbf3f; //  rgb(140, 191, 63)
$purple: #9453a6; // rgb(148, 83, 166)


$texShadow: 1px 0 0 $black,
-1px 0 0 $black,
0 1px 0 $black,
0 -1px 0 $black,
1px 1px $black,
-1px 0px 0 $black,
1px 0px 0 $black,
;